.btn{
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;   
    cursor: pointer;
    color: white;

}
.btn-primary{
    background-color: #007bff;
}
.btn-primary:hover{
    background-color: #0069d9;
}
.btn-secondary{
    background-color: #6c757d;
}
.btn-secondary:hover{
    background-color: #3a3f43;
}
.btn-danger{
    background-color: #dd4747;
}
.btn-danger:hover{
    background-color: #b51818;
}