.product-card{
    width: 250px;            
    border: 1px solid #ddd;   
    border-radius: 15px;     
    padding: 15px;            
    text-align: center;       
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    transition: transform 0.3s, box-shadow 0.3s;
    
    background-color: white;
    
}
.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
#imge{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
